.blue body {
    background: blue;
    color: #fff;
}

.blue input[type="checkbox"] {
    accent-color: #fff;
}

.blue thead th {
    border-bottom-width: .15rem;
}

.blue #footer {
    color: #ddd;
}

.blue .line-column img,
.blue .pin-img {
    display: none;
}
