.yellow body {
    background: #222;
}

.yellow h1 {
    background: #f0d722;
    color: #000;
}

.yellow input[type="checkbox"] {
    accent-color: #f0d722;
}

.yellow #footer {
    color: #666;
}

.yellow #wrap {
    background: #fff;
}
