body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: "Handjet-Light";
    font-weight: normal;
    src: url("./Handjet-Light.ttf") format("truetype");
}

body {
    background: #000 url("./bg.jpg") no-repeat;
    background-size: cover;
    font-size: 32px;
    font-family: "Handjet-Light", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
}

#wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    min-height: 200px;
    min-width: 600px;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #cecece;
    text-shadow: #000 2px 2px 0,#000 -2px -2px 0, #000 -2px 2px 0, #000 2px -2px 0;
    padding-bottom: 5px;
    white-space: nowrap;
}

#departures {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: rgba(0, 0, 0, 0.6) 2px 2px 15px;
    border-collapse: collapse;
    color: #cecece;
    width: 100%;
}

#footer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    color: #999;
    text-align: right;
    visibility: hidden;
}

thead tr {
    height: 1em;
}

#status {
    vertical-align: middle;
    text-align: center;
}
.error {
    color: #d33;
}

thead th {
    padding-top: 10px;
    font-weight: bold;
    color: #c9b474;
}

td, th {
    padding: 0 20px 10px 20px;
    text-align: left;
    white-space: nowrap;
}

td img {
    height: .85em;
    position: relative;
    top: 3px;
    padding-right: 5px;
}

@media (max-width: 809px) {
    body {
        font-size: 16px;
        padding: 5px;
    }
    h1 {
        font-size: 1.5em;
    }
    #container, #departures {
        min-width: 0;
    }
    #departures {
        border-radius: 5px;
    }
    #footer {
        padding-top: 5px;
    }
    td, th {
        padding: 0 5px 2px;
    }
}